includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: 6
    paths:
        - src
    doctrine:
        objectManagerLoader: tests/object-manager.php
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
